* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fontfamily-header);
    color: var(--color-header);
}

body {
    font-family: var(--fontfamily-text);
    background-color: var(--backgroundcolor-body);
    color: var(--color-text);
}

header {
    display: flex;
    width: 100%;
    gap: var(--gap-text);
    background-color: var(--backgroundcolor-header);
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: left;

    justify-self: left;
    margin-left: var(--margin-header);
}

.menu {
    display: none;

    background-color: var(--backgroundcolor-header);
    border: var(--border-menu);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: left;
    justify-self: left;
    gap: var(--gap-header-link);
    visibility: visible;

    border: var(--border-test);
}

main {
    display: flex;
    flex-direction: row;
}

.selfinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-text);
    margin: var(--margin-selfinfo);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-text);
    margin-left: var(--leftmargin-main);
}

b {
    font-size: large;
    color: var(--color-header);
}

dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-header-link);
}

dt {
    color: var(--color-list)
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.line {
    display: block;
    border-right: var(--border-line);
}

@media (max-width: 500px) {
    body {
        display: grid;
    }

    header {
        display: grid;
        grid-template-columns: var(--grid-template-columns-header-mobile);
        background-color: var(--backgroundcolor-header);
    }
    
    header h1 {
        display: flex;
        align-items: center;
        justify-content: center;
    
        justify-self: left;
    }

    nav {
        display: flex;
        grid-row: 2;
        flex-direction: column;
        
        margin: var(--margin-nav);
    }

    .menu {
        display: flex;
        min-width: 4em;
        justify-content: center;
        align-items: center;
    
        align-self: right;
        justify-self: right;
        margin: var(--margin-menu);;
    }

    .closed {
        display: none;
    }
}

/*colors
    silver: #C0C0C0
    gray: #808080
    light blue/cyan: #20e1ff
    dark blue: #1434A4
    Lime Green: #32cd30
*/
